#adsk {

  .dropdown-base() {
    position: relative;
    font-size: 1rem;
    line-height: 1;
    font-style: normal;
    display: inline-block;
  }

  .dropdown(
      @border: @global-menu-border-color,
      @color: @global-menu-color,
      @color-hover: @global-menu-color-hover,
      @background: @global-menu-background,
      @background-hover: @global-menu-background-hover,
      @radius: @global-menu-border-radius,
      @shadow: true,
      @divider: @global-menu-divider,
      @indent: @global-menu-indent,
      @menu: ~".dropdown-menu",
      @trigger: ~".dropdown-trigger"
    ) {

    .dropdown-base();

    & > @{menu} {
      #adsk > .menu(
        @border,
        @color,
        @color-hover,
        @background,
        @background-hover,
        @radius,
        @shadow,
        @divider,
        @indent);
    }

    // Open state for the dropdown
    &.open,
    &[open=true] {
      & > @{menu} { display: block; }
      & > a { outline: 0; }
    }

    & > @{trigger} {
      margin-bottom: 0;
    }
  }
}
