.standard-button {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.75em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.5em;
  background: #00558b;
  border-radius: 0;
  color: #fff;
}
.standard-button:hover,
.standard-button:focus {
  background: #0084d7;
  color: auto;
}
.wide-button {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.75em 1em;
  margin: 0 1rem 1rem 0;
  border-radius: 0;
  font-size: 1em;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background: #E8F5E9;
  border-radius: 4px;
  color: #000;
}
.wide-button:hover,
.wide-button:focus {
  background: #C8E6C9;
  color: auto;
}
.icon-button {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.75em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 1em;
  background: #00558b;
  border-radius: 0;
  color: #fff;
}
.icon-button:hover,
.icon-button:focus {
  background: #0084d7;
  color: auto;
}
.icon-button > .icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.standard-dropdown {
  position: relative;
  font-size: 1rem;
  line-height: 1;
  font-style: normal;
  display: inline-block;
}
.standard-dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 1rem 0 2px 0;
  list-style: none;
  font-size: 1rem;
  text-align: left;
  background-clip: padding-box;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.standard-dropdown.open > .dropdown-menu,
.standard-dropdown[open=true] > .dropdown-menu {
  display: block;
}
.standard-dropdown.open > a,
.standard-dropdown[open=true] > a {
  outline: 0;
}
.standard-dropdown > .dropdown-trigger {
  margin-bottom: 0;
}
