.adsk-btn {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  font-size: 1;
  background: #00558b;
  border-radius: 0;
  color: #fff;
}
.adsk-btn:hover,
.adsk-btn:focus {
  background: #0084d7;
  color: auto;
}
.wide-button {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  border-radius: 0;
  font-size: 1;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background: #E8F5E9;
  border-radius: 4px;
  color: #000;
}
.wide-button:hover,
.wide-button:focus {
  background: #C8E6C9;
  color: auto;
}
.icon-button {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  font-size: 1;
  background: #00558b;
  border-radius: 0;
  color: #fff;
}
.icon-button:hover,
.icon-button:focus {
  background: #0084d7;
  color: auto;
}
.icon-button > .icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
