$dropdown-menu-selector: "dropdown__menu";
$dropdown-trigger-selector: "dropdown__trigger";

%dropdown {
  position: relative;
  font-size: 1rem;
  line-height: 1;
  font-style: $global-font-weight;
  display: inline-block;
}

@mixin dropdown(
    $menu: $dropdown-menu-selector,
    $menu-position: left,
    $menu-position-shift: 0,
    $trigger: $dropdown-trigger-selector
) {
  @extend %dropdown;

  // Menu
  .#{$menu} {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    // transition: all 0.3s ease-out;
  }

  @if $menu-position == right {
    & > .#{$menu} {
      left: auto;
      right: $menu-position-shift + 0;
    }
  }
  @else {
    & > .#{$menu} {
      right: auto;
      left: $menu-position-shift + 0;
    }
  }

  &.dropdown--open > a { outline: 0; }

  // Open
  .#{$menu}--open { display: block; }

  & > .#{$trigger} {
    margin-bottom: 0;
    // outline: 0; // ???
  }
}

// Dropdown

.dropdown {
  @include dropdown();
}
