$avatar-border-color: $global-disabled-text-color;
$avatar-color: $global-secondary-text-color;

$avatar-sizes: (
  small: emCalc(24px),
  medium: emCalc(32px),
  large: emCalc(48px),
) !default;

%avatar {
  border-radius: 50%;
  text-align: center;
  display: block;
  background: lightgrey; // Todo: should be configurable
  overflow: hidden;

  abbr { border: 0; }
}

@mixin avatar-size($size: medium) {
  $size: map-get($avatar-sizes, $size);
  width: $size;
  height: $size;
  line-height: $size - .2em;
  cursor: default;
  color: $avatar-color;
  font-weight: normal;

  & > abbr {
    font-size: $size / 2;
    line-height: 2em;
  }
}

@mixin avatar-border(
  $color: $avatar-border-color,
  $size: 2px
) {
  // Note: border and adding expand avatar size
  // Todo: Extract border and padding when border is set
  border: $size solid $color;
  background-clip: content-box;
  padding: 1px;

  & > img { border-radius: 50%; }
}

@mixin avatar(
  $size: medium,
  $border-color: $avatar-border-color,
  $border-size: 2px
) {
  @extend %avatar;

  @include avatar-size($size);

  &.small { @include avatar-size(small); }
  &.large { @include avatar-size(large); }

  &.bordered { @include avatar-border($border-color, $border-size); }
}

.avatar {
  @include avatar;
}
