%dropdown {
  position: relative;
  font-size: 1rem;
  line-height: 1;
  font-style: $global-font-weight;
  display: inline-block;
}

@mixin dropdown(
    $menu: ".dropdown-menu",
    $menu-position: left,
    $menu-position-shift: 0,
    $trigger: ".dropdown-trigger"
) {
  @extend %dropdown;

  // Menu
  #{$menu} {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
  }

  @if $menu-position == right {
    & > #{$menu} {
      left: auto;
      right: $menu-position-shift + 0;
    }
  }
  @else {
    & > #{$menu} {
      right: auto;
      left: $menu-position-shift + 0;
    }
  }


  // Open state for the dropdown
  &.open,
  &[open=true] {
    & > #{$menu} { display: block; }
    & > a { outline: 0; }
  }

  & > #{$trigger} {
    margin-bottom: 0;
    outline: 0;
  }
}

// Dropdown

.dropdown {
  @include dropdown(
    $trigger: ".icon-btn",
    $menu: "ul"
  );
}
