.ex-vigor-header {
  background-color: #03A9F4;
}

.ex-vigor-header {
  padding: 2em;
  margin-bottom: 2em;
}

.ex-vigor-content-holder {
  position: fixed;
  top: 11em;
}

.ex-vigor-header > h1 { color: white; }
.ex-vigor-header > h6 { color: rgba(255,255,255, 0.7); }

.vigor-example-content {
  width: 960px;
  margin: 0 auto;
}

.vigor-example-content > h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.vigor-example-content > h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: .8em;
}

.example {
  position:relative;
  min-height: 150px;
}
.ex-menu-holder {
  position:relative;
}
